main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  padding: 24px;
  border-radius: 8px;
  background-color: white;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 12px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}
